

/* Global */

html, body {
  font-family: "Open Sans", sans-serif;
  background-color: #E6E6E6;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #393735;
}

p {
  color: #393735;
}


/* Header */

header {
  background-color: #2592E8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}

.logo img{
  width: 50px;
}

.site-title a {
  color: #CECDCD;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: .1px;
  font-size: 20px;  
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.nav-items a {
  color: #CECDCD;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .1px;
  font-size: 20px;  
  margin-left: 10px;
}

.nav-items a:hover {
  color: white;
}


/* Main Content */

#main-container {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

#main-content {
  width: 80%;
  padding: 20px 0 20px 5%;
}

h1 {
  letter-spacing: .6px;
  font-weight: 900;
  font-size: 38px;
  margin: 50px auto 50px auto;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0;
}

.post img {
  width: 350px;
  margin-right: 20px;
  border-radius: 10px;
}

.post a {
  text-decoration: none;
}

.post h2 {
  letter-spacing: .4px;
  font-weight: 600;
  font-size: 28px;
}

.post p {
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

.read-more-container h3 {
  letter-spacing: .2px;
  font-weight: 500;
  font-size: 24px;
}

.read-more-container li {
  color: #7c7975;
} 

.read-more-container a {
  color: #393735;
  letter-spacing: .1px;
  text-align: justify;
  text-decoration: none;
  font-size: 18px;
}

.read-more-container a:hover {
  color: black;
}

.message {
  margin: 70px 0;
}

.message p {
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}


/* Sedebar */

#sidebar {
  width: 300px;
  margin: 50px 0 0 20px;
  padding: 20px 20px;
}

.sidebar-container {
  margin: 30px 0;
}

#sidebar p {
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

.sidebar-links {
  margin: 10px 0;
}

#sidebar a {
  color: #7c7975;
  text-align: justify;
  text-decoration: none;
  font-size: 16px;
}

#sidebar a:hover {
  color: #393735;
}

/* Footer */

/* ... */