html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #E6E6E6;
}


/* Header */

header {
  background-color: #2592E8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
}

.logo img{
  width: 50px;
}

.site-title p {
  color: #CECDCD;
  font-weight: 500;
  letter-spacing: .1px;
  font-size: 20px;  
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.nav-items a {
  color: #CECDCD;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .1px;
  font-size: 20px;  
  margin-left: 10px;
}

.nav-items a:hover {
  font-weight: 500;
}


/* Main Content */

#main-container {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

#main-content {
  width: 75%;
  padding: 20px 0 20px 5%;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #393735;
  letter-spacing: .4px;
  font-weight: 900;
  font-size: 38px;
  margin: 50px auto 50px auto;
}

.post img {
  width: 350px;
  margin-right: 20px;
  border-radius: 10px;
}

.post a {
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #393735;
  letter-spacing: .2px;
  font-weight: 600;
  font-size: 28px;
}

.post p {
  color: #393735;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}


/* Sedebar */

#sidebar {
  width: 25%;
  margin-top: 50px;
  padding: 20px 2.5%;
}


/* Footer */

/* ... */