

/* Footer */

footer {
  padding: 65px 5%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A3367;
}

footer .spacer {
  flex-grow: 1;
}

.userfull-links-container {
  width: 33.3%;
  margin: 0 20px;
  text-align: left;
}
.social-medias-container {
  margin: 0 20px;
}
.social-medias-container span {
  font-size: 18px;
  margin: 5px;
}

.copyright-container {
  width: 33.3%;
  margin: 0 20px;
}
.copyright-container p {
  text-align: right;
  font-size: 16px;
  color: #A1A09F;
}

.footer-item {
  margin: 5px 0;
}
.footer-item a {
  font-size: 16px;
  color: #A1A09F;
  text-decoration: none;
}
.footer-item a:hover {
  color: #CECDCD;
}
