

/* Main Content */

h1 {
  letter-spacing: .6px;
  font-weight: 900;
  font-size: 38px;
  margin: 50px auto 50px auto;
}

/* Posts Section */
.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0;
}
.post img {
  width: 350px;
  margin-right: 20px;
  border-radius: 10px;
}
.post h2 {
  letter-spacing: .4px;
  font-weight: 600;
  font-size: 28px;
}
.post a {
  text-decoration: none;
}
.post p {
  color: #393735;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

/* Read More Section */
.read-more-container h3 {
  letter-spacing: .2px;
  font-weight: 500;
  font-size: 24px;
}
.read-more-container li {
  color: #7c7975;
} 
.read-more-container a {
  color: #393735;
  letter-spacing: .1px;
  text-align: justify;
  text-decoration: none;
  font-size: 18px;
}
.read-more-container a:hover {
  color: black;
}

/* Bottom Message Section */
.message {
  margin: 70px 0;
}
.message p {
  color: #393735;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}
