

/* Page Style */

h1 {
  margin: 50px 0 0 0;
  letter-spacing: .6px;
  font-weight: 900;
  font-size: 38px;
  color: #393735;
}

.message-paragraph {
  margin: 50px 0 0 0;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

h2 {
  margin: 50px 0 0 0;
  letter-spacing: .4px;
  font-weight: 600;
  font-size: 28px;
}

.email-content {
  margin: 25px 0 0 0;
}
.email-content p {
  margin: 0;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}
.email-content a {
  text-decoration: none;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

.phone-content {
  margin: 25px 0 0 0; 
}
.phone-content p {
  margin: 0;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}
.phone-content ul {
  margin: 16px 0 0 0;
}
.phone-content a {
  text-decoration: none;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

.address-content {
  margin: 25px 0 0 0;
}
.address-content ul {
  margin: 10px 0 0 0;
}
.address-content p {
  margin: 0;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}

.social-media-content {
  margin: 25px 0 0 0;
}
.social-media-content p {
  margin: 0;
  letter-spacing: .1px;
  text-align: justify;
  font-size: 18px;
}
.social-media-content ul {
  margin: 10px 0 0 0;
}

